@import '~iview/src/styles/index.less';
@primary-color : #79aa49;
@error-color : #fc5427;
@border-color-base : #eee; // outside
@date-picker-cell-hover-bg : rgba(121, 170, 73, .2);
@table-td-hover-bg : rgba(250, 252, 247, 1);
@table-td-highlight-bg : rgba(212, 239, 161, 1);
@warning-color : #fcb827;
@menu-dark-title : #2c2d2b;
@menu-dark-active-bg : #2c2d2b;
@link-color : #79aa49;
@input-placeholder-color : #ccc;